.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1.ui.huge.icon.header {
  font-size: 3em;
  text-shadow: black 0px 0px 10px;
  color: white;
}

.ui.segment.header-bg {
  background-size: '100%';
  height: '40vh'
}

@media only screen and (max-width: 730px) {
  .ui.placeholder.segment.header-bg {
    background-size: 180% !important;
  }  
}


div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 88vh;
  z-index: 99;
  margin-left: 95%;
}

@media only screen and (max-width: 1030px) {
  div.sticky {
    display: none;
  }

  .whiteFix {
    margin-top: 0px;
  }
}

.whiteFix {
  margin-top: -88px;
}

.noMargin {
  margin: 0px !important;
}

.nav {
  width: 25px;
  display: flex !important;
  justify-content: center;
  margin-bottom: 10px !important;
}

.appear {
  z-index: 999;
}
